/* other formats include: 'woff2', 'truetype, 'opentype', 'embedded-opentype', and 'svg' */

@font-face {
  font-family: 'Noto Sans KR';
  src: local('Noto Sans KR'),
    url(../fonts/Noto_Sans_KR/NotoSansKR-Regular.otf) format('opentype');
  unicoderange: U+1100-11FF, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: bold;
  src: local('Noto Sans KR'),
    url(../fonts/Noto_Sans_KR/NotoSansKR-Bold.otf) format('opentype');
  unicoderange: U+1100-11FF, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: italic;
  src: local('Noto Sans KR'),
    url(../fonts/Noto_Sans_KR/NotoSansKR-Light.otf) format('opentype');
  unicoderange: U+1100-11FF, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-weight: bold;
  font-style: italic;
  src: local('Noto Sans KR'),
    url(../fonts/Noto_Sans_KR/NotoSansKR-Black.otf) format('opentype');
  unicoderange: U+1100-11FF, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}

@font-face {
  font-family: 'Gothic A1';
  src: local('Gothic A1'),
    url(../fonts/Gothic_A1/GothicA1-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Gothic A1';
  font-weight: bold;
  src: local('Gothic A1'),
    url(../fonts/Gothic_A1/GothicA1-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Gothic A1';
  font-style: italic;
  src: local('Gothic A1'),
    url(../fonts/Gothic_A1/GothicA1-ExtraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Gothic A1';
  font-weight: bold;
  font-style: italic;
  src: local('Gothic A1'),
    url(../fonts/Gothic_A1/GothicA1-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Myeongjo';
  src: local('Nanum Myeongjo'),
    url(../fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-weight: bold;
  src: local('Nanum Myeongjo'),
    url(../fonts/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: italic;
  src: local('Nanum Myeongjo'),
    url(../fonts/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Myeongjo';
  font-weight: bold;
  font-style: italic;
  src: local('Nanum Myeongjo'),
    url(../fonts/Nanum_Myeongjo/NanumMyeongjo-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Black Han Sans';
  src: local('Black Han Sans'),
    url(../fonts/BlackHanSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Black Han Sans';
  font-weight: bold;
  src: local('Black Han Sans'),
    url(../fonts/BlackHanSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Black Han Sans';
  font-style: italic;
  src: local('Black Han Sans'),
    url(../fonts/BlackHanSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Black Han Sans';
  font-weight: bold;
  font-style: italic;
  src: local('Black Han Sans'),
    url(../fonts/BlackHanSans-Regular.ttf) format('truetype');
}
