/* also check SecretDetailModal.js */

.line-break {
  white-space: pre-wrap;
}

mark {
  font-weight: bold;
  background: #d0d1ff71;
  color: #61a6ff;
  padding: 0.1em 0.2em;
}

/* <Divider /> 망가져서 주석 처리
hr {
  overflow: initial;
  visibility: initial;
  border: none;
  position: initial;
  left: initial;

  display: block;
  height: 0.1em;
  width: 10%;

  background-color: #3079ec;
} 
*/
