/* === Sub === */
/* 기존 li태그, a태그 각각 .list, .link로 변경 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans+KR:wght@500&display=swap');

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  /*overflow-y: hidden; /* Chrome, Safari, Opera*/
  display: none;
}

/*햄버거 메뉴 위치*/
.hamburgerMenu {
  top: 0.3em;
  left: 0.7em;
  width: 2em;
}

/*모든 아이콘 메뉴 위치*/
.iconMenuBox {
  padding: 3em 0em 0em;
  position: relative;
  top: 8.1em;
  left: 0.7em;
}

/*아이콘 메뉴에 마우스를 올렸을 때 css*/
.iconMenuBox .inconMenuLink .iconMenu:hover {
  cursor: pointer;
  color: #3e90ff;
}

.sub_header .image {
  /*로고 크기는 정해진 크기 입력*/
  position: absolute;
  top: 1em;
  left: 1.3em;
  color: #fff;
  width: 105px;
  height: 22px;
}

.sub_header .image:hover {
  cursor: pointer;
}

.css-i4bv87-MuiSvgIcon-root {
  /*햄버거 버튼 크기*/
  width: 1.5em;
}

/*미니 사이드바 메뉴 버튼과 아이콘 위치*/
.sub_header .sub_menu {
  padding: 6.0em 1em 0em;
}

.sub_header .sub_menu .list {
  width: 100%;
}

.sub_header .sub_menu .icon {
  color: #fff;
  text-align: center;
}

.sub_header .sub_menu .list:last-child {
  margin-bottom: 0;
}
.sub_header .sub_menu .list .link {
  color: #fff;
  display: block;
  font-size: 1.1em;
}

.sub_header .sub_menu .list.on *,
.iconMenuBox .inconMenuLink.on * {
  /*현재 사이트 경로의 메뉴 버튼 css*/
  color: #3e90ff;
}

.closeButton{
  padding: 8px 13px 20px 200px;
}

.sub_header .sub_menu .css-cvhtoe-MuiButtonBase-root-MuiListItemButton-root {
  /*메뉴*/
  bottom: 1.1em;
  right: 0.4em;
  padding: 2.0em 2.2em 0em;
}

.sub_header .sub_menu [class$='MuiTypography-root'] {
  /* 메뉴 글자 크기, 폰트 */
  text-align: center;
  font-family: Montserrat, 'Noto Sans KR';
  font-size: 1.1em;
}

.sub_header .sub_menu .list:hover *,
.iconMenuBox .inconMenuLink:hover * {
  color: #3e90ff;
}
.sub_header .copyright {
  /*Copyright position*/
  position: absolute;
  top: 30em;
  color: #fff;
}

.sub_header [class$='MuiTypography-root'] {
  /*Copyright font size*/
  font-size: 0.5rem;
}
