/* ==== tab ==== */
@media screen and (max-width: 1024px) {
  .inner {
    width: 100%;
    padding: 0 3%;
  }
  .pc {
    display: block;
  }
  .tab {
    display: block;
  }
  .mob {
    display: none;
  }
  .pc_img {
    display: none !important;
  }
  .mob_img {
    display: block !important;
  }

  body,
  th,
  td,
  input,
  select,
  textarea,
  button {
    font-size: 16px;
    line-height: 28px;
  }

  /* === Main === */
  #wrap {
    position: relative;
    width: 100%;
    max-width: 1024px;
    min-width: auto;
    margin: 0 auto;
    overflow: hidden;
  }
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 10;
  }
  .gnb {
    display: none;
  }
}
